.chat {
    height: 90vh;
    position: fixed;
    left: 0;
    right: 0;


    border: solid 2px green;
    display: flex;
    padding: 20px 50px;
    /* position: sticky; */
    display: flex;
    justify-content: center;
    gap: 30px;


    /* button{
        padding:5px 10px;
    } */

    .status {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        animation: smothcolor linear 10s infinite;
        position: absolute;
        bottom: 5px;
        right: 23px;
        border: solid 2px whitesmoke;

    }


    .animated {
        color: rgb(10, 175, 120);
    }

    .always-active {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        animation: smothcolor linear 10s infinite;
        border-radius: 15px;
        color: #fff;

        &:hover {
            opacity: 0.9;
        }


    }


    .transparent {
        border: none;
        outline: none;
        background-color: transparent;
    }

    .from {
        font-size: 12px;
        height: 12px;
        overflow: hidden;
        line-height: 1;
        color: grey;
    }

    .chat-list {
        flex: 1;
        min-width: 280px;
        position: static;

        /* border: solid 2px red; */

        .title {
            display: flex;
            justify-content: space-between;
            height: 10%;

        }

        .list {
            height: 90%;
            /* border: solid 2px purple; */
            display: flex;
            flex-direction: column;
            overflow-y: scroll;


            .list-chat {
                display: flex;
                padding: 10px 5px;
                border-radius: 10px;
                gap: 5px;


                &:hover {
                    background-color: rgb(159, 210, 255);
                    cursor: pointer;
                }

                .left {
                    flex: 1;
                    position: relative;

                    img {
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .status {
                        height: 15px;
                        width: 15px;
                        border-radius: 50%;
                        animation: smothcolor linear 10s infinite;
                        position: absolute;
                        bottom: 5px;
                        right: 23px;
                        border: solid 2px whitesmoke;

                    }

                }

                .center {
                    flex: 3;
                }

                .right {
                    flex: 1;

                    .time {
                        padding-top: 6px;
                        font-size: 14px;
                    }
                }



            }

        }
    }

    .conversation {
        flex: 2;


        /* flex: 1; */
        /* border: solid 2px red; */
        /* width: 400px; */
        .chat-header {
            width: 100%;
            height: 10%;
            /* height: 50px; */
            /* height: auto; */
            border-bottom: 1px solid grey;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5px;
            padding-bottom: 5px;

            .contact {
                /* border: solid 3px red; */
                width: 100%;
                padding: 5px 0px;
                display: flex;
                display: flex;
                justify-content: space-between;
                gap: 10px;
                align-items: center;

                .user-info {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    
                    .left{
                    position: relative;
                    .status{
                        right: 0px;
                    }
                }
                }
                

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .quick-icons {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    justify-content: space-evenly;

                }

            }
        }

        .chat-main {
            height: 75%;
            width: 100%;
            background-color: rgba(162, 177, 174, 0);

            padding: 10px 0;
            /* flex: 1; */
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            gap: 20px;

            /* .center { */


            .message {
                max-width: 80%;
                display: flex;
                gap: 20px;

                &.own {
                    align-self: flex-end;

                    .texts {
                        p {
                            background-color: rgba(181, 255, 218, 0.863);
                            border-radius: 10px;
                            border-top-right-radius: 0px;
                            border-bottom-right-radius: 20px;

                        }

                    }
                }

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .texts {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    img {
                        width: 100%;
                        height: 300px;
                        object-fit: cover;
                        border-radius: 10px;
                    }

                    p {
                        padding: 10px;
                        background-color: rgba(3, 77, 40, 0.219);
                        border-radius: 10px;
                        border-top-left-radius: 0px;
                        border-bottom-left-radius: 20px;
                    }

                    span {
                        color: rgb(183, 190, 190);
                        font-size: 13px;
                    }
                }
            }
        }

        .chat-footer {
            height: 15%;
            width: 100%;
            /* background-color: rgb(0, 0, 0); */
            /* border-top: solid 1px grey; */
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;




            .message-box {
                width: 100%;
                height: 80%;
                /* border: solid 2px red; */
                display: flex;
                gap: 10px;
                padding: 10px;
                align-items: center;
                justify-content: space-evenly;
                border-radius: 20px;
                box-shadow: inset 0 0 3px 1px;

                .message-area {
                    resize: none;
                    width: 80%;
                    height: 90%;
                    padding: 10px;
                    font: icon;


                }
            }

            p {
                font-size: 12px;
                color: #333;
            }
        }

        /* &.computer-only{
            width: 280px;
        } */
    }
}

@media screen and (max-width:470px) {
    .chat {
        padding: 10px;
        padding-bottom: 60px;


        .chat-list {
            width: 100%;
        }
        .list-chat{
            .left{
                border: solid 2px red;
                position: relative;
                .status{
                    background-color: aqua;
                }
            }
        }

        .conversation {
            width: 100%;
        }

    }

}