.reviews {
    /* background-color: blue; */

    .button {
        padding: 8px 16px;
        border-radius: 20px;
        border: none;
        /* background-color: rgb(206, 177, 17); */
        color: #FFF;
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        animation: smothcolor linear 10s infinite;
    }


    .current-rating {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px;
        border-bottom: 1px solid grey;

        .summary {
            padding: 10px;
            display: flex;
            flex-wrap: wrap;
            background-color: #ffffff;
            border-radius: 20px;
            box-shadow: 0 0 3px 2px;
            color: #1f1e1e;
            align-items: flex-start;


            .recap {
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: flex-start;
                border-right: 1px solid gray;
                padding: 10px;
                justify-content: center;
                align-items: flex-start;

                .count {
                    font-size: 3em;
                    text-shadow: 0 0px 5px rgb(71, 71, 4);
                    font-weight: 700;
                    display: f;
                }

            }

            .insites {
                display: flex;
                flex-direction: column;
                padding: 10px;

                /* gap: 10px; */

                .slider-container {
                    display: flex;
                    /* width: 200px; */
                    justify-content: space-between;
                    align-items: center;
                    gap: 10px;

                    .inner-shower {
                        background-color: #bdbaba;
                        width: 180px;
                        height: 10px;
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        /* padding-inline-end: 3px; */

                        .indicator {
                            width: 0%;
                            height: 100%;
                            border-radius: 10px;
                            animation: smothcolor linear 10s infinite;
                        }
                    }
                }


            }
        }


        /* background-color: aqua; */

    }

    .filters {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: flex-end;
        position: relative;

        .button {
            position: relative;
            background-color: rgb(231, 217, 12);
            animation: none;

            &.active {
                animation: smothcolor linear 10s infinite;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                background: rgb(255, 238, 0);
                bottom: 0;
                left: 0;
                border-radius: 20px;
                display: none;
            }

            &:hover {
                background-color: lightgreen;
                transition: all linear 1s;
            }
        }


    }

    .comment-review-card-cont {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;


        .comment-review-card {
            display: flex;
            flex-direction: column;
            padding: 10px;
            background-color: rgb(255, 255, 255);
            /* height: 40px; */
            border: solid 1px black;
            gap: 5px;
            border-radius: 10px;

            .user-profile {
                display: flex;
                justify-content: space-between;
                background-color: rgb(255, 255, 255);
                padding: 10px;
                flex-wrap: wrap;
                gap: 10px;


                .profile-details {
                    display: flex;
                    gap: 20px;
                    align-items: center;

                    /* padding: ; */
                    div {
                        justify-content: center;

                    }

                    img {
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    p {
                        font-size: 14px;
                        color: #444;
                    }
                }

                .user-rating {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                }
            }

            .review-comment {
                font-size: 14px;
            }

            .review-reply-container {
                width: 100%;
                display: flex;
                flex-flow: column wrap;
                gap: 10px;

                p {
                    font-size: 14px;
                }

                .send {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                }

                textarea {
                    padding: 10px;
                    display: block;
                    width: 100%;
                    border-radius: 10px;
                    border: solid 1px black;
                    outline: none;
                    box-shadow: 0 0 2px .2px;
                    font: inherit;
                    resize: vertical;
                    height: fit-content;

                }

                .reply-btn {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: #555;
                }
            }

        }

    }

}

@media screen and (max-width:470px) {
    .reviews {
        .current-rating {

            .summary {
                padding: 1px;
                justify-content: center;
                align-items: center;
                .recap {

                    border-right: none;
                    padding: 10px;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

    }




}