* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.description-card {
    padding: 2vw;
    background-color: rgb(252, 252, 252);
    border-radius: 0.6vw;
    color: #444;
    box-shadow: 0 0 3px .2px rgba(0, 0, 0, 0.452);
    margin: 20px 0;
    line-height: 1.5;
    /* font-size: 1.3em; */
}

@media (max-width: 600px) {
    .rem {
        display: none !important;
    }
}

.details-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding: 10px;
    /* padding: 60px 20px 60px 100px; */
    background-color: white;

}

.details-sub-heading {
    line-height: 2;
    font-size: 2em;

}

.details-location {
    color: #444;
    display: flex;
    gap: 5px;


}

.card-container {
    display: flex;
    gap: 20px;
    /* background-color: whitesmoke; */
    flex-wrap: wrap;
}

.card-container:nth-child(1) .amenity-card {
    background-color: aqua;
}

.amenity-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 800;
    border-radius: 3px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.377);
    text-shadow: 0 0px 3px rgb(126, 126, 126);
    /* font-size: 2em; */
    min-width: 130px;
}

.flex-row {
    flex-direction: row;
    gap: 20px;
}

.icons-green {
    color: rgb(0, 128, 128);
}

.house-must {
    box-shadow: none;
}

.ratings-and-text-title {
    display: flex;
    gap: 20px;
    font-size: 1.4em;
    color: #6b6666;
    align-items: center;
}

.comment-profile-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.comment-profile-info * p {
    font-size: 1.2em;
    font-weight: 600;
}

.comments-container {
    padding: 30px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    gap: 30px;
}

.comment-card {
    padding: 15px;
    /* width: 300px; */
    background-color: white;
    box-shadow: 0 0 4px .6px;
    border-radius: 6px;

}

.nav-btns-container {
    justify-self: center;
    align-self: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-inline: 10px;
    margin-top: 30%;
    /* background-color: aqua; */
}

.nav-btns-container button {
    background-color: #dbdbdb79;
    border: none;
    color: rgb(0, 0, 0);
    width: 40px;
    height: 40px;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;

}

.dots {
    position: relative;
    justify-self: center;
    align-self: flex-end;
    bottom: 0;
    display: flex;
    gap: 10px;
    height: 90%;
    width: 100%;
    justify-content: center;

}

.dots div button {

    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    opacity: 1;
    height: 10px;
    width: 10px;
    border: none;
    cursor: pointer;


}

.dots-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    margin-bottom: 10px;
}

.comment-profile-img-container {
    height: 80px;
    width: 80px;
    background-size: cover;
    border-radius: 50%;
    background-position: center;
}

.property-details-image-container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-image;
    justify-content: center;
}

.shine {
    /* animation: shine 1s infinite; */
    padding: 20px !important;
    background-color: #025e52 !important;
}

.shine .fa-comment-dots {
    color: #fff !important;

}

.start-discussion-with-owner-button {
    position: fixed;
    bottom: 40px;
    z-index: 200000000000000;
    /* background-color: #025e52; */
    background: transparent;
    right: 20px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    cursor: pointer;

}


/*//? BREAK POINTS */
/* //? ==============================================*/

@media screen and (max-width:900px) {}

@media screen and (max-width:1000px) {}

@media screen and (max-width:800px) {

    .details-main {
        width: 100vw;
        padding: 60px 60px 60px 20px;


    }

}



@media screen and (max-width:550px) {
    .details-main {
        width: 100vw;
        padding: 60px 20px 60px 10px;


    }

    .amenity-card {
        min-width: 112px;
    }

    .dots-container {
        gap: 10px;
        margin-bottom: 10px;
    }

    .dots div button {
        height: 7px;
        width: 7px;


    }

    .comments-container {
        padding: 30px 0px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 30px;
    }



    .details-sub-heading {
        line-height: 1.2;
        font-size: 1.6em;

    }

    .comment-profile-img-container {
        height: 50px;
        width: 50px;
    }

    .start-discussion-with-owner-button {
        bottom: 75px;
        right: 10px;
    }
}

@media screen and (max-width:480px) {
    .nav-btns-container {
        padding-inline: 4px;
        margin-top: 40%;
    }

    .rating-overall {
        font-size: 16px;
    }

    .property-details-image-container {
        height: 50vh;
    }

}

/*Force Fix*/


.facebook-panel {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    width: 280px;
    overflow: hidden;
    border: 1px solid #dddfe2;
    /* position: absolute;
    top: 20px;
    left: 20px; */
}

/* Facebook blue header */
.fb-header {
    background: linear-gradient(135deg, #025e52 0%, #0b4b42 100%);
    height: 60px;
    position: relative;
}

/* User section */
.user-section {
    padding: 16px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ebedf0;
    position: relative;
    background-color: white;
}

/* Facebook-style avatar */
.fb-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    margin-top: -10px;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fb-avatar i {
    font-size: 28px;
    color: #025e52;
}

/* EXACT Facebook verification badge */
.fb-verified {
    /* position: absolute;
    bottom: -5px;
    right: -5px; */
    background-color: #025e52;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.fb-verified i {
    color: white;
    font-size: 12px;
    font-weight: bold;
}

/* User info */
.fb-user-info {
    margin-left: 12px;
}

.fb-user-name {
    font-weight: 600;
    font-size: 17px;
    color: #050505;
    display: flex;
    align-items: center;
}

.verified-text {
    color: #025e52;
    font-size: 12px;
    margin-left: 4px;
    font-weight: normal;
}

.fb-user-subtitle {
    font-size: 13px;
    color: #65676B;
    margin-top: 2px;
}

/* Menu items */
.fb-menu {
    padding: 8px 0;
}

.fb-menu-item {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    color: #050505;
    text-decoration: none;
}

.fb-menu-item:hover {
    background-color: #f2f2f2;
}

.fb-menu-icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #E4E6EB;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
}

.fb-menu-icon i {
    color: #050505;
    font-size: 16px;
}

.fb-menu-text {
    font-size: 15px;
    font-weight: 500;
}

/* Facebook blue active indicator */
.fb-menu-item.active {
    background-color: #E7F3FF;
    border-left: 3px solid #025e52;
    padding-left: 13px;
}

.fb-menu-item.active .fb-menu-icon {
    background-color: #025e52;
}

.fb-menu-item.active .fb-menu-icon i {
    color: white;
}

.fb-menu-item.active .fb-menu-text {
    color: #025e52;
    font-weight: 600;
}

/* Facebook-style buttons */
.fb-button {
    background-color: #E4E6EB;
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    font-weight: 600;
    color: #050505;
    cursor: pointer;
    font-size: 15px;
    margin: 8px 16px 16px;
    width: calc(100% - 32px);
    transition: background-color 0.2s;
}

.fb-button:hover {
    background-color: #D8DADF;
}

.fb-button.primary {
    background-color: #025e52;
    color: white;
}

.fb-button.primary:hover {
    background-color: #025e52;
}

/* Demo content */
.demo-content {
    margin-left: 320px;
    margin-top: 20px;
    max-width: 600px;
}

.demo-box {
    background-color: white;
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #dddfe2;
    margin-bottom: 20px;
}