* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.description-card {
    padding: 2vw;
    background-color: rgb(252, 252, 252);
    border-radius: 0.6vw;
    color: #444;
    box-shadow: 0 0 3px .2px rgba(0, 0, 0, 0.452);
    margin: 20px 0;
    line-height: 1.5;
    /* font-size: 1.3em; */
}

.details-main {
    width: 68vw;
    padding: 60px 20px 60px 100px;
    background-color: white;

}

.details-sub-heading {
    line-height: 2;
    font-size: 2em;

}

.details-location {
    color: #444;
    display: flex;
    gap: 5px;


}

.card-container {
    display: flex;
    gap: 20px;
    /* background-color: whitesmoke; */
    flex-wrap: wrap;
}

.card-container:nth-child(1) .amenity-card {
    background-color: aqua;
}

.amenity-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 800;
    border-radius: 3px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.377);
    text-shadow: 0 0px 3px rgb(126, 126, 126);
    /* font-size: 2em; */
    min-width: 130px;
}

.flex-row {
    flex-direction: row;
    gap: 20px;
}

.icons-green {
    color: rgb(0, 128, 128);
}

.house-must {
    box-shadow: none;
}

.ratings-and-text-title {
    display: flex;
    gap: 20px;
    font-size: 1.4em;
    color: #6b6666;
    align-items: center;
}

.comment-profile-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.comment-profile-info * p {
    font-size: 1.2em;
    font-weight: 600;
}

.comments-container {
    padding: 30px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    gap: 30px;
}

.comment-card {
    padding: 15px;
    /* width: 300px; */
    background-color: white;
    box-shadow: 0 0 4px .6px;
    border-radius: 6px;

}

.nav-btns-container {
    justify-self: center;
    align-self: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-inline: 10px;
    margin-top: 30%;
    /* background-color: aqua; */
}

.nav-btns-container button {
    background-color: #dbdbdb79;
    border: none;
    color: rgb(0, 0, 0);
    width: 40px;
    height: 40px;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;

}

.dots {
    position: relative;
    justify-self: center;
    align-self: flex-end;
    bottom: 0;
    display: flex;
    gap: 10px;
    height: 90%;
    width: 100%;
    justify-content: center;

}

.dots div button {

    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    opacity: 1;
    height: 10px;
    width: 10px;
    border: none;
    cursor: pointer;


}

.dots-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    margin-bottom: 10px;
}

.comment-profile-img-container {
    height: 80px;
        width: 80px;
        background-size: cover;
        border-radius: 50%;
        background-position: center;
}
.property-details-image-container{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 80vh;
        margin-bottom: 20px;
        display:flex;
        flex-direction:column;
        align-items:center;
        transition: background-image;
        justify-content:center;
}
.start-discussion-with-owner-button
{
          position:fixed;
          bottom:40px;
          z-index:200000000000000;
          background-color: #025e52;
          right:20px;
          padding: 10px;
          border-radius:10px;
          display:flex;
          justify-content:center;
          align-items:center;
          color:white;
          border:none;
          cursor:pointer;

}


/*//? BREAK POINTS */
/* //? ==============================================*/

@media screen and (max-width:900px) {}

@media screen and (max-width:1000px) {}

@media screen and (max-width:800px) {

    .details-main {
        width: 100vw;
        padding: 60px 60px 60px 20px;


    }

}



@media screen and (max-width:550px) {
    .details-main {
        width: 100vw;
        padding: 60px 20px 60px 10px;


    }
    .amenity-card {
      min-width: 112px;
    }

    .dots-container {
        gap: 10px;
        margin-bottom: 10px;
    }

    .dots div button {
        height: 7px;
        width: 7px;


    }

    .comments-container {
        padding: 30px 0px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 30px;
    }



    .details-sub-heading {
        line-height: 1.2;
        font-size: 1.6em;

    }
    .comment-profile-img-container{
        height: 50px;
        width: 50px;
    }
    .start-discussion-with-owner-button{
      bottom:75px;
      right:10px;
    }
}
@media screen and (max-width:480px) {
    .nav-btns-container {
        padding-inline: 4px;
        margin-top: 40%;
    }
    .rating-overall{
    font-size: 16px;
}
.property-details-image-container{
    height: 50vh;
}
    
}

/*Force Fix*/