@import './materials/colors';
@import './materials/fonttypes';

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth !important;
}

body {
  box-sizing: border-box;
  height: 100%;
  background-color: $color-background;
  font-family: $body-font;
}

.reel-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;

  .reel-item {
    scroll-snap-align: start;
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}