.main{
    /* background-color: blue; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    /* gap: 30px; */
}
.filter-property-rules{
    background-color: rgb(255, 255, 255);
    padding: 30px ;
    width: 600px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

}
.filter-property-rules h4{
    font-size: 1.3em;
    padding: 10px 0;
    color: rgba(48, 48, 48, 0.959);
}
.filter-property-rules h5{
    font-size: 1.3em;
    padding: 10px 0;
    color: rgba(48, 48, 48, 0.959);
}
.filter-property-rules * li{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
 .filter-property-rules ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}
.apply-filter-btn{
    background-color: rgb(0, 128, 128);
     animation: smothcolor linear  10s infinite;
     padding:10px;
     font-size: 1.3em;
     margin:40px;
     color: #fff;
     border-radius: 10px;
     border: none;
     cursor: pointer;

}
.apply-filter-btn:active{
    box-shadow: inset 0 0 2px 1px rgb(255, 255, 255);
}
/* //? BREAK POINTS */
/* //? ==============================================*/

@media screen and (max-width:900px) {

    
}
@media screen and (max-width:1000px) {

}
@media screen and (max-width:800px) {


 
}
@media screen and (max-width:550px) {
   .filter-property-rules{
    width: 100vw;
} 

}
/*Force Fix*/
