/* //? Page title fr  */

button{
    cursor: pointer ;
}
.welcome {
    button {
        cursor: pointer;
        background-color: inherit;
    }

    /* position: relative; */
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

    h2 {
        font-size: 2.2em;
        text-shadow: 0px 0px 2px rgb(1, 14, 73);
    }
    .any-btns{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    button {
        padding: 10px 12px;
        /* background-color: rgb(1, 70, 55); */
        border: none;
        outline: none;
        border-radius: 24px;
        color: white;
        display: flex;
        align-items: center;
        animation: smothcolor linear 10s infinite;
    }
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0px;
    background-color: rgba(30, 32, 32, 0.226);
    z-index: 1000000000000000000;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    
    
    /* padding-bottom: 400px; */

    .div{
        /* height: 400px;
        width: 400px; */
        background-color: transparent;
        display: flex;
        /* flex-direction: row-reverse;
        justify-content: flex-start; */
        align-items:flex-start ;
        box-shadow: 0 0 5px 1px;
        backdrop-filter: blur(5px);
        padding: 40px 3px 10px 3px  ;
        border-radius: 5px;

        .main{
            /* padding: 30px; */
            background-color: transparent;
            width: 100%;
            height: 100%;
            color: #000000;
            display: flex;
            /* justify-content: center; */



        }


        .btn-close-btn{
            padding: 10px 10px;
            font-size: 14px ;
            background-color: rgba(138, 31, 12, 0);

            color: rgb(0, 0, 0);
            border: none;
            padding: none;
            position: absolute;
            right: 0;
            top: 0;
            /* border-top-right-radius: 20px; */

            &:hover{
                /* background-color: rgba(0, 174, 255, 0.644); */
            }
        }

    }
}