/* //? Page title fr  */

button{
    cursor: pointer ;
}
.welcome {
    button {
        cursor: pointer;
        background-color: inherit;
    }

    /* position: relative; */
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    padding: 20px;
    align-items: center;

    h2 {
        font-size: 2.2em;
        text-shadow: 0px 0px 2px rgb(1, 14, 73);
    }
    .any-btns{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    button {
        padding: 10px 12px;
        /* background-color: rgb(1, 70, 55); */
        border: none;
        outline: none;
        border-radius: 24px;
        color: white;
        display: flex;
        align-items: center;
        animation: smothcolor linear 10s infinite;
    }
}