button{
    cursor: pointer ;
}
.welcome {
    button {
        cursor: pointer;
        background-color: inherit;
    }

    /* position: relative; */
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    padding: 20px;
    align-items: center;

    h2 {
        font-size: 2.2em;
        text-shadow: 0px 0px 2px rgb(1, 14, 73);
    }

    button {
        padding: 10px 12px;
        /* background-color: rgb(1, 70, 55); */
        border: none;
        outline: none;
        border-radius: 24px;
        color: white;
        display: flex;
        align-items: center;
        animation: smothcolor linear 10s infinite;
    }
}

.dash-card-container {
    padding: 10px 20px;
    display: flex;
    /* justify-content: space-evenly; */
    gap: 30px;
    /* background-color: rgb(230, 230, 230); */
    flex-wrap: wrap;



    .dc {
        /* border: solid 2px green; */
        padding: 20px;
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 0 0 3px 1px;

        .dc-top {
            display: flex;
            justify-content: space-between;
            min-width: 250px;


            p {
                color: #003b23;
                font-size: 20px;
            }

            .dc-icon-cont {
                display: flex;
                align-items: center;
                padding: 5px;
                background-color: rgba(173, 250, 224, 0.349);
                border-radius: 50%;
            }

            .dc-icon {
                font-size: 30px;
                color: rgb(0, 112, 75);
            }
        }

        .count {
            color: rgb(211, 164, 10);
            font-size: 2em;
            padding: 10px 8px;
            font-weight: 600;
        }

        .trend .good {
            color: #04fc99;
        }

        .trend .bad {
            color: #fc0404;
        }

    }


}

.chart-activity {
    display: flex;
    padding: 30px 20px;
    flex-wrap: wrap;
    /* align-items: center; */

    gap: 20px;

    button {
        background-color: inherit;
    }
}

.chart-container {
    flex: 4;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 16px;
    /* width: 90%; */
    min-width: 400px;
    min-height: 400px;
    max-height: 500px;
    /* margin: 16px auto; */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.activity-history {
    flex: 2;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 30px 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    min-height: 400px;
    max-height: 500px;
    min-width: 300px;
    overflow: hidden;

    .top {

        border-bottom: 1px solid grey;
        display: flex;
        justify-content: space-between;
        padding: 10px 0;


        button {
            color: #36e37b;
            outline: none;
            border: none;
        }



    }

    .center {
        /* background-color: #003b23; */
        display: flex;
        flex-direction: column;
        height: 380px;




        .item {
            display: flex;
            gap: 20px;
            padding: 10px;
            border-bottom: 1px solid #8080804f;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            .icon {

                display: flex;
                justify-content: center;
                align-items: center;

                div {
                    background-color: #00ff6200;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .ii {
                        color: #02ff9600;
                    }

                }

                .green-box {
                    background-color: #00ff6257;

                    .green-icon {
                        color: #006b3f;
                    }
                }

                .blue-box {
                    background-color: #0084ff57;

                    .blue-icon {
                        color: #029aff;
                    }
                }

                .yellow-box {
                    background-color: #ffee0031;

                    .yellow-icon {
                        color: #d19f15;
                    }
                }


            }

            p {
                font-size: 14px;

            }

            .time-ago {
                color: #555;
                font-size: 12px;
                padding-top: 4px;
            }

        }
    }
}

@media screen and (max-width:470px) {

    .welcome {
        h2 {
            font-size: 1.5em;
            text-shadow: 0px 0px 2px rgb(1, 14, 73);
        }
        p{
            font-size: 14px;
        }

        /* button {
            font-size: 0.5em;
        } */
    }

    .dash-card-container {
        justify-content: center;
    }

    .chart-activity {
        align-items: center;
        padding: 10px;
    }

    .chart-container {
        flex: 4;

        border-radius: 10px;
        /* width: 90%; */
        min-width: 300px;
        /* max-width: 360px; */
        min-height: 300px;
        max-height: 320px;
        /* margin: 16px auto; */


    }

}