*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
    
}
html{
 overflow-x: hidden;
}
.lpHead{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     /* background-color:#00474DFF ; */
     color: white;
     /* background-color: var(--white); */
    border: solid var(--border-width)  var(--light-gray);
    height:  64px ;
    padding: 5px;
    padding-top: 15px;
    min-width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100000000 ;

    /* animation: smothcolor 5s cubic-bezier(0.075, 0.82, 0.165, 1) 0 infinite forwards  normal ; */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
   animation: smothcolor linear  10s infinite;

}
.topnav-links{
     display: flex;
     gap: 20px;
     color: white;
}
.topnav-links li{
    list-style:none;
    color:white;
    text-decoration: "overline";
    /* background-color: blue; */
}
 a{
     color: #ffffff;
    /* text-decoration: none; */
}
/* .flex-row{
     display: flex;
     gap: 20px;
} */
.right-top{
     justify-self: flex-end;
     /* background-color: red; */
     width: 25%;
     display: flex;
     flex-direction: row;
     gap: 30px;
     border-radius: 5px;
     align-items:center;
     justify-content:space-between;
     /* margin-right: -40px; */
     /* border:solid 1px white; */
     

}
.logo-container{
     /* background-color: #bafcf3; */
    display:flex ;
     gap: 10px;
     justify-content: flex-start;
     align-items: center;
     /* display: none; */
     width: 200px;
}
.logo-container button{
     display: none;
}
.logo-container button{
  background-color: transparent;
  color: white;
  border: none;
  align-self: flex-end;
  font-size: 2em;
  cursor: pointer;
}
.side-nav{
     /* background-color: rgb(0, 77, 64); */
     position: fixed;
     top: 60px;
     left: 0px;
     padding: 10px px;
     color: black;
     padding-top: 30px;
     min-height: 90vh;
     /* display: none; */
     /* height: ; */
     animation: smothcolor linear  10s infinite;
     z-index: 1000000;
}
.side-nav * li{
     list-style: none;
     padding: 8px 5px;
     /* background-color: rgba(146, 212, 221, 0.212); */
     margin-top: 3px;
     display: flex;
     justify-content: flex-start;
     gap: 10px;
     align-items: center;
     border-radius: 2px;
}
.side-nav * a{
     text-decoration: none;
}
.side-nav * li:hover{
   background-color: rgba(146, 212, 221, 0.212);

}
.search-input{
     border:solid 1.3px #ffffff;
     border-radius: 6px;
     padding: 5px;
     /* padding: 2px; */
        width: 250px;
     display: block;
     /* color:black; */
     display: flex;
     /* height: 40px; */


}
.input-search{
     padding: 3px;
     background-color: #dddddd00;
     border:none;
     outline:none;
     flex: 1;
     color:#c7bebe;
}
.links-container{
     /* border:solid 2px green; */
     display: flex;
     flex-direction: column;
     justify-content: center;
     font-size: 20px;
}
.img-container {
     background-color: black;
     height: 50px;
     width: 50px;
     border-radius: 50% ;
     border: solid 2px rgb(1, 151, 151) ;
     /* border-image: linear-gradient(45deg, rgb(0, 89, 161), rgb(250, 66, 66)) 1 ; */
     
}
.header{
     padding-top:64px ;
     width: 100vw;
     min-height: 100vh;
     background-image: url('../../assets/images/header-image.png');
     background-position: center center;
     background-size: cover;
     background-attachment: fixed;
     background-blend-mode:saturation;
     background-repeat: no-repeat;
     display: flex;
     backdrop-filter: blur(4px);
     flex-direction: column;
     align-items: center;
     overflow-x: hidden;
     /* padding-bottom: 400px; */
     /* margin-bottom: 100px; */

     /* background-color: #9e7e7e; */
     /* opacity: 0.9; */
     
}
.header-main{
      display: flex;
     backdrop-filter: blur(1px);
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap:30px;
     width: 100vw;
     height: 100vh;
     background-color: rgba(70, 87, 88, 0.329);
     /* padding: 40px; */
     /* margin-bottom: 400px; */
     
     /* overflow-x: hidden; */
     
     /* backdrop-filter: ; */
}
.header-caption{
     /* display: flex; */
     /* margin-top: 10px; */
     padding: 30px;
     font-size: 3em;
     backdrop-filter: blur(80%);
     background-color: #3a458317;
     border-radius: 30px;
     font-weight: bold;
     color: rgb(255, 255, 255);
     box-shadow: inset 0 0 1px 3px rgba(0, 0, 0, 0.226);
     text-align: center;
}
.header-description{
     font-size: 2em;
     width: 60%;
     text-align: center;
     color: #bafcf3;
     /* color: #050505; */
}
.search-filter-card{
     background-color: rgb(255, 255, 255);
     backdrop-filter: blur(80px);
     /* width: 700px; */
     /* height: 200px; */
     border-radius: 20px;
     padding: 20px;
     display: flex;
     flex-direction: column;
     gap: 30px;
     
     /* align-items: center; */


}
.filter-container{
     display: flex;
     gap: 20px;
}
.flex-between{
     display: flex;
     justify-content: space-between;
     /* align-items: center; */
}
.opt-select{
     padding: 7px;
     border-radius: 5px;
     margin: 5px;

}
.search-button{
 color: #ffffff;
display: flex;
align-items: center;
gap: 15px;
/* width: 400px; */
padding: 10px 10px;
border-radius: 2.4px;
border: none;
justify-content: center;
/* an */
animation: smothcolor linear  10s infinite;
cursor: pointer;
}
.search-button:active{
     box-shadow: inset 0 0 2px 2px rgb(255, 255, 255);
}
/*  */




.listings-card-container{
     /* display: flex;
     flex-direction: column; */
     /* justify-content: flex-start; */
     /* align-items: flex-start; */
     /* gap: 30px; */
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
     gap: 30px;
     /* padding: 20px; */
     background-color: #FAFAFBFF;
     min-height: 100vh;
     /* width: auto; */
     padding-top: 30px;
     padding-bottom: 30px;
     margin: 0px 10px;

     /* margin-top: 20px; */
     /* grid-auto-flow: row; */
}
.listings-card{
     /* width: 325px; */
     /* height: 436px; */
     padding-bottom: 10px;
     display: flex;
     flex-direction: column;
     background-color: #ffffff;
     border-radius: 10px;
     color: #000000;
     box-shadow:  0 0  0 2px rgba(226, 226, 226, 0.356);

     /* margin-top: 50px; */

}

.listing-card-img-container{
     width: 100%;

     height: 60%;
}
.listing-card-img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fits nicely */
  display: block;
       border-top-left-radius: 10px ;
       border-top-right-radius: 10px ;
}
.listings-description{
     padding: 16px;
     display: flex;
     flex-direction: column;
     gap: 10px;
}
.listing-title{
     font-size: 1.2em;
     font-weight: 600;
}
.listing-cost{
     display: flex;
     gap: 10px;
}
.listing-price-fcfa{
     font-weight: 600;
     color: #00474DFF;
}
.location{
     display: flex;
     gap: 6px;
     align-items: center;
     /* justify-content: center; */
     font-size: 0.9em;
     color: #444;
}
.icon-xs{
     width: 2px;
     height: 3px;
     font-size: 16px !important;

}
.details-btn{
     background-color: #44444400;
     animation: smothcolor linear  10s infinite;
     padding: 10px;
     font-weight: 600;
     color: #ffffff;
     border: none;
     border-radius: 6px;
     cursor: pointer;
}
.section-title{
     padding: 20px;
     font-size: 2em;
     text-align: center;
}
.map-container{
     padding: 30px;
}
.map-main{
     /* border: solid; */
     border-radius: 4%;
     width: 100%;
     height: 100%;
     /* padding: 30px; */
     /* background-color: #7f878a65; */
}

.footer-container{
     /* padding: 80px ; */
     padding: 30px  0px 60px 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-image: linear-gradient( 90deg, #00474DFF 0%, #D27500FF 100%);
     color: white;
     
     
}
.footer-main{
     display: flex;
     gap: 40px;
     padding: 30px 0;
     border-bottom: solid 2px;
     flex-wrap: wrap;
     /* max-width: 100vw; */
}
.vizit-socials{
     /* background-color: red; */
     /* width: 370px; */
     /* height: 70px;  */
     padding-inline: 0px 60px ;
     display: flex;
     flex-direction: column;
     gap: 20px;
}
.vizit-socials ul{
     display: flex;
     gap: 10px;
}
.vizit-socials ul *{
 cursor: pointer;
}
.links{
     list-style-type: none;
     
}
.links a{
     text-decoration: none;
     line-height: 1.7;
     cursor:pointer;
     /* margin: 0px 30px; */
    

}
.links a:hover{
    text-decoration: underline;
}

.share-btn{
     display: flex;
     justify-content: center;
     gap: 10px;
     align-items: center;
     border: none;
     color: #333;
     border-radius: 6px;
     padding: 3px 10px;
     width: 200px;
     cursor: pointer;
}
 .advertiseme-links{
     display: flex;
     flex-direction: column;
     gap: 20px;
 }

/*Extras*/
@keyframes smothcolor {
     0%{ 
          background-color: #00474DFF;
     }
     20%{
          background-color: rgb(3, 92, 70);
     }

     40%{
          background-color: rgb(0, 77, 23);
     }

     60%{
          background-color: rgb(0, 77, 67);
     }

     80%{
          background-color: rgb(0, 77, 67);
     }

     100%{
          background-color: rgb(18, 107, 80);
     }
     
}
@media screen and (max-width:900px) {
.lpHead{
     justify-content: flex-start;
     gap: 20px;

}
.right-top{
     gap: 20px;
}
.footer-main{
     display: flex;
     flex-wrap: wrap;
          grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
     /* gap: 300px; */
}



    
}
@media screen and (max-width:1000px) {
     .right-top{
     gap: 6px;
}
}
@media screen and (max-width:800px) {
     .links-container,.right-top{
          display: none;
     }
     .logo-container button{
          display: flex;
     }
     .lpHead{
     justify-content: space-between;
     /* padding-inline: 30px; */
     /* padding-inline-end: 200px; */
     /* gap: 20px; */
     /* margin-left: -40px; */
}
 
}
@media screen and (max-width:550px) {
     /* .header{padding-top: 100px;} */
     .header-main{
          padding: 2px;
          /* padding-top: 0px; */
          padding-bottom: 100px;
          /* background-color: #014b41; */
          height: auto;
     }
     .header-caption{
            padding: 10px;
     font-size: 2em;
     margin-top: 50px;
     }
     .header-description{
          width: 100%;
          font-size: 1.5em;
          padding: 20px;
     }
     .search-filter-card{
          border-radius: 10px;
     }
     .filter-container{
     flex-direction: column;
     justify-content: stretch;
     align-items: center;
     border-radius: 10px;


}
.footer-container{
     padding: 20px;
}
.opt-select{
     width: 250px;
}
}