.listings {


    .search-filter {
        display: flex;
        gap: 20px;
        padding: 20px;
        flex-wrap: wrap;
        align-items: center;

        .search {
            /* flex: 3; */
            /* width: 400px; */
            display: flex;
            align-items: center;
            padding: 5px 15px;
            box-shadow: 0 0 2px 1px;
            background-color: #FFf;
            border-radius: 5px;
            backdrop-filter: blur(10px);

            input {
                border: none;
                outline: none;
                padding: 5px;

            }
        }

        .filters {
            /* flex: 2; */
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
        }

        button {
            color: #FFf;
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 8px 15px;
            border-radius: 20px;
            border: none;
            background-color: rgba(219, 168, 2, 0.945);
            cursor: pointer;

        }

        .active {
            animation: smothcolor linear 10s infinite;
        }




    }

    .listing-table {
        padding: 20px;

        .table-container {
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 2px 1px;
        }

        .table {

            background-color: transparent;
            border-spacing: 0;
            text-indent: inherit;

            thead {
                background-color: transparent;


            }

            tr td {
                background-color: rgb(255, 255, 255);
                border-bottom: 1px solid grey;
            }

            tr th {
                border-bottom: 1px solid rgb(255, 255, 255);
                animation: smothcolor linear 10s infinite;
            }

            td,
            th {
                border: none;
                text-align: start;
                background-color: transparent;
                border-collapse: collapse;
                /* vertical-align: unset; */
                border-bottom: solid rgb(255, 255, 255);

            }

            .table-header {
                border-bottom: solid red solid;
                /* border-right: 2px white solid; */
            }

            .table-data {
                background-color: rgba(2, 73, 46, 0.021);
                color: black;
                /* display:contents; */
                unicode-bidi: unset;

                .property-details {
                    display: flex;
                    gap: 10px;
                    align-items: center;


                    * div {
                        display: flex;
                        height: 100px;
                        align-items: center;

                    }

                    img {
                        display: flex;
                        height: 80px;
                        width: 80px;
                        border-radius: 20px;
                        background-size: cover;


                    }

                }

                .batch {
                    padding: 5px 10px;
                    box-shadow:inset 0 0 2px 1px black;
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    justify-content: center;
                    border-radius: 20px;

                }

                .actions {
                    display: flex;
                    gap: 10px;

                    button {
                        padding: 5px 12px;
                        border: none;
                        background-color: transparent;
                        cursor: pointer;
                    }


                }

            }

        }

        .navigators{
            background-color: rgba(209, 209, 209, 0.459);
            margin-top: 15px ;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            border-radius: 5px ;
            div{
                display: flex;
                gap: 10px;
            }
            
            button{
                padding: 10px 15px;
                border-radius: 50%;
                border: none;
                background-color:lightblue ;
            }
        }
    }
}

@media screen and (max-width:470px) {
    .listings {
        .search-filter {

            .search {
                width: auto;
            }
        }
    }

}