
.skp-flex-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* border: solid 3px red; */
    align-items: center;
    justify-content: center;
    padding-inline: 7px ;


}
.tab-navigator-container{
 margin: 30px 0  10px  0;
 display: flex;
 justify-content: center;
 gap: 10px;

}
.tab-navigator-container button{
    padding: 7px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    /* font-size: 1.1em; */
    display: block;
    border: solid 1px #00474DFF;
    cursor: pointer;
}
.saved-listing-card{
    /* padding: 20px 20px; */
    box-shadow: 0 1px 3px #33333367;
    border-radius: 10px 10px 5px 5px;

}
.saved-listing-card-img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.saved-listing-card-description{
    padding: 15px;
}
.saved-listing-price-tag{
    list-style: 1.3;
    font-size: 1.2em;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    /* border: solid 2px; */
    font-weight: 600;
    color: #00474DFF;
}
.saved-listing-card-description * a ,.saved-listing-card-description * button{
    width: 48%;
    padding: 10px;
    color: salmon;
    text-decoration: none;
    border-radius: 7px;
    font-weight: 600;
    text-align: center;
}
.saved-listing-card-description * a{
    border: solid 1px #00474DFF;
    color: #00474DFF;
}
.saved-listing-card-description * button{
    background-color: rgba(179, 6, 0, 0.733);
    border: none;
    color: white;
}
.btn-actions{
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
     border:  2px solid rgba(255, 0, 0, 0);
}
.btn-actions:hover{
    border:  2px solid rgb(97, 97, 97);
}
table{
    width: 100%;
    /* border: solid red 2px; */
}
table * tr{
    background-color: rgb(255, 255, 255);

    gap: 0;

}
th{
    font-size: 20px;
    text-align: left;
    margin: 20px;
    padding: 10px 0;
    background-color: rgb(0, 139, 116);
    color: white;

}
tbody tr{
    /* background-color: aqua; */
    border: solid 3px green;
}
th,td{
    padding: 10px;
    border: 3px solid transparent;
    border-bottom: 1px solid black;
    word-wrap: none;
}
.btn-danger{
    background-color: rgba(179, 6, 0, 0.733);
    color: whitesmoke;
}
.btn-neutral{
    background-color: #666;
    color: whitesmoke;
}
.btn-success{
    background-color: rgb(0, 75, 62);
    color: whitesmoke;
}
.review-card{
    box-shadow: 0 1px 1px 1px rgba(10, 10, 10, 0.233);
    display: flex;
    padding: 20px;
    gap: 20px;
    border-radius: 6px;
    background-color: white;
    /* justify-content: space-evenly; */
}
.review-card img{
    border-radius: 6px;
    width: 150px;
    height: 150px;
}
.comment-comment{
    width: auto;
    flex: 1;
}
.rating-and-reviews{
    /* border: solid red 3px; */
    display: flex;
    flex-direction: column;
    gap: 30px;

    
}
.review-ratings{
        /* width: 400px; */
        /* border: solid 2px red; */
        display: flex;
        flex-direction: column;
        /* align-items: s; */
        justify-content: flex-start;
        gap: 10px;
        padding: 1vw;
}
.action-buttons-comment{
    /* border: solid green 3px; */
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.action-buttons-comment button{
    padding: 6px 12px;
    border: none;
    font-size: .9em;
    border-radius: 3px;
    cursor: pointer;
}
.action-buttons-comment button:nth-child(1){
    padding: 6px 12px;
}
.ratings-and-reviews-data{
    /* border: solid 2px red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.tab-navigator-container button{
    font-size: 2em;
}
/*//? BREAK POINTS */
/* //? ==============================================*/

@media screen and (max-width:900px) {

.review-card{
    padding: 10px;
    gap: 10px;
}
.review-ratings{
        gap: 10px;
        padding: 5px;
}
.comment-comment{
    /* width: 38vw; */
    flex: 1;
}
}

@media screen and (max-width:1000px) {}

@media screen and (max-width:800px) {
.review-card{
    flex-direction: column;
    width: 120%;
    margin-left: -10%;
}
.review-card img{
    border-radius: 6px;
    width: 100%;
    height: auto;
}
.desktop-only{
    display: none;
}
}

@media screen and (max-width:550px) {
.do-not-show{
    font-size: 12px;
}
th,td{
    padding: 5px;
    border: 3px solid transparent;
    border-bottom: 1px solid black;
    word-wrap: none;
    width: 200px;
    white-space-collapse: preserve;
}
th{
    font-size: 16px;
    text-align: center;
    margin: 0px;
    padding: 5px 0;
    background-color: rgb(0, 139, 116);
    color: white;

}

}

@media screen and (max-width:480px) {

    
}

/*Force Fix*/